body{
    
    background-color:#C5B358;
}

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  /*padding: 50px 0;*/
  /*box-shadow: 0px 5px 0px #dedede;*/
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .8s;
}
nav ul li a:hover {
  color: #D1AD54;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #D1AD54;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  color:#D1AD54;
  transition-duration: 15s;
}

iframe{
  float:right;
  margin-top:150px;
  margin-right:300px;
  
}




  
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

h1{
  margin-top: -150px;
}

.cal{
  text-align:center;
  font-size:40px;
  
}












.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--twitter {
  background: #2b97f1;
  background: -webkit-linear-gradient(#369cf2, #298fe5);
  background: linear-gradient(#369cf2, #298fe5);
  border-bottom: 1px solid #2279c1;
  color: #95cbf8;
}
.social-icon--twitter:hover {
  color: #d5eafc;
  text-shadow: 0px 1px 0px #2279c1;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  background: -webkit-linear-gradient(#4ba7f3, #2b97f1);
  background: linear-gradient(#4ba7f3, #2b97f1);
  color: #d5eafc;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}


.social-icon--facebook {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#4562a0, #385693);
  background: linear-gradient(#4562a0, #385693);
  border-bottom: 1px solid #2f487c;
  color: #9dadcd;
}
.social-icon--facebook:hover {
  color: #d8deeb;
  text-shadow: 0px 1px 0px #2f487c;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#5873aa, #3b5a9b);
  background: linear-gradient(#5873aa, #3b5a9b);
  color: #d8deeb;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}
.social-icon--instagram {
  background: #527fa6;
  background: -webkit-linear-gradient(#5b85aa, #4e799e);
  background: linear-gradient(#5b85aa, #4e799e);
  border-bottom: 1px solid #426685;
  color: #a9bfd3;
}
.social-icon--instagram:hover {
  color: #dce5ed;
  text-shadow: 0px 1px 0px #426685;
}
.social-icon--instagram .tooltip {
  background: #527fa6;
  background: -webkit-linear-gradient(#6c92b3, #527fa6);
  background: linear-gradient(#6c92b3, #527fa6);
  color: #dce5ed;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #527fa6;
}


.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}


#container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}
.social-icons{
  padding-left:100px;
}